.DS_Store
tmp/

.codex/
AGENTS.md

# Textures
Textures/*
!Textures/LICENSE
About/Preview.png
About/ModIcon.png

# C#
Source/obj/
Source/bin/
Source/*.DotSettings.user
Source/.idea/.idea.CWF/.idea/.name

# dist
Assemblies/
